
<div class="container mt-5">
    <h2 class="text-center">Inicio de Sesión</h2>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {{/if}}
    <form id="loginForm" action="/session/login" method="POST" class="mb-3">
        <div class="mb-3"> 
            <label for="email" class="form-label">Email:</label> 
            <input type="email" class="form-control" id="username" name="email" required> 
        </div>
        <div class="mb-3"> 
            <label for="password" class="form-label">Password:</label> 
            <input type="password" class="form-control" id="password" name="password" required> 
        </div> 
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <div class="d-flex flex-column">
        <a href="/register"><button class="btn btn-primary mb-3">Register</button></a>
        <a href="/reset-password"> <button class="btn btn-primary mb-3"> Reestablecer contraseña</button></a>
    </div>
</div>      