    <nav class="navbar navbar-dark bg-dark border-body" data-bs-theme="dark">     
        <div class="container-fluid">
            <div class="img-brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Peugeot_Logo.svg/1865px-Peugeot_Logo.svg.png" class="img-fluid"alt="logoPeugeot">

            </div>
            <a class="navbar-brand" href="/">Peugeot</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/products">Modelos</a>
                <a class="nav-link" href="/">profile</a>
                <a class="nav-link" href="/login">Login</a>
            </div>
            </div>
        </div>
    </nav>
<div class="container mt-5">
    <h2 class="text-center">Inicio de Sesión</h2>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {{/if}}
    <form id="loginForm" action="/session/login" method="POST">
        <div class="mb-3"> 
            <label for="email" class="form-label">Email:</label> 
            <input type="email" class="form-control" id="username" name="email" required> 
        </div>
        <div class="mb-3"> 
            <label for="password" class="form-label">Password:</label> 
            <input type="password" class="form-control" id="password" name="password" required> 
        </div> 
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <BR>
    <a href="/register"><button>Register</button></a>
</div>  