<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">Usuarios Activos</h5>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {{#each users}}
                    <div class="col mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title text-black text-center mb-4">{{first_name}} {{last_name}}</h3>
                                <div class="mb-2">
                                    <p class="card-text mb-1"><strong>Email:</strong></p>
                                    <p class="card-text mb-2">{{email}}</p>
                                </div>
                                <div>
                                    <p class="card-text mb-1"><strong>Rol:</strong></p>
                                    <p class="card-text mb-0">{{role}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="delete-inactive-users" class="btn btn-danger">Borrar Usuarios Inactivos</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/controlUser.js"></script>